
body {
  font-family: 'Poppins', 'Comfortaa',sans-serif;
  margin: 0;
  background-color: #f07f07;
  color: #374151;
}

/* ---------- HEADER ---------- */
header {
  background: linear-gradient(135deg, #1f2933, #0f172a);
  color: white;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 15px;
  font-size: 2.2rem;
}

nav a {
  color: #e5e7eb;
  margin: 0 14px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #f07f07;
}

nav a.active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 4px;
}

/* ---------- HERO ---------- */
.hero {
  background: #a19e99;
  padding: 120px 20px;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 2.6rem;
  margin-bottom: 15px;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}

/* ---------- BOUTONS ---------- */
.btn-primary {
  background-color: #f7d274;
  color: black ;
  padding: 14px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #e8b431;
}

/* ---------- MAIN ---------- */
main {
  background-color: white;
  padding: 50px;
  margin: 40px auto;
  width: 85%;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.section {
  margin-bottom: 50px;
}

h2 {
  color: #0f172a;
  border-bottom: 3px solid #38bdf8;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

h3 {
  color: #1f2933;
  margin-top: 30px;
}

p {
  line-height: 1.7;
  margin-bottom: 15px;
}

ul {
  line-height: 1.8;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* ---------- CARDS ---------- */
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.card {
  flex: 1;
  min-width: 250px;
  background-color: #f9fafb;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card h3 {
  color: #38bdf8;
  margin-top: 0;
}

/* ---------- HIGHLIGHT BOX ---------- */
.highlight-box {
  background-color: #eff6ff;
  border-left: 4px solid #38bdf8;
  padding: 20px;
  margin: 25px 0;
  border-radius: 4px;
}

/* ---------- IMAGE ---------- */
.image-projet {
  display: block;
  max-width: 80%;
  margin: 35px auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* ---------- FOOTER ---------- */
footer {
  text-align: center;
  padding: 20px;
  background-color: #e5e7eb;
  font-size: 0.9rem;
}




